<!doctype html>
<html>
 <head>
  <meta charset="UTF-8">
  <meta name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;GENERATE_GETTERS&quot;:false,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;valo&quot;}">
  <meta name="vaadin-version" content="8.0.5">
 </head>
 <body>
  <vaadin-vertical-layout spacing="false" size-full margin="false">
   <vaadin-vertical-layout style-name="v-scrollable" spacing="false" id="main" width="790px" height-full margin-top="false" _id="main" :middle :center>
    <vaadin-css-layout size-full>
     <vaadin-horizontal-layout spacing="false" id="header" width-full height="50px" _id="header">
      <vaadin-tab-sheet style-name="equal-width-tabs" id="tsRequestMenu" _id="tsRequestMenu">
       <tab caption="Búsqueda" selected>
        <vaadin-css-layout width-full _id="tbRequestSearch"></vaadin-css-layout>
       </tab>
       <tab caption="Nueva">
        <vaadin-css-layout id="tbRequestNew" width-full _id="tbRequestNew"></vaadin-css-layout>
       </tab>
       <tab caption="Plantilla">
        <vaadin-css-layout id="tbRequestTemplate" width-full _id="tbRequestTemplate"></vaadin-css-layout>
       </tab>
      </vaadin-tab-sheet>
     </vaadin-horizontal-layout>
    </vaadin-css-layout>
   </vaadin-vertical-layout>
  </vaadin-vertical-layout>
 </body>
</html>